# This is just an example file for your environment.
# You should copy this file to .env and fill in the values.

################################################
## DO NOT COMMIT THIS FILE TO VERSION CONTROL ##
## THIS FILE CONTAINS SECRET KEYS AND TOKENS  ##
################################################

# Discord Config
DISCORD_APP_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_DEV_GUILD_ID=
DISCORD_OWNER_ID=
SERVER_PORT=8080
SERVER_TIMEOUT_READ=3s
SERVER_TIMEOUT_WRITE=5s
SERVER_TIMEOUT_IDLE=5s
SERVER_AUTH_SECRET=https://go.dev/play/p/xwcJmQNU8ku
SERVER_AUTH_EXPIRY=1d

# General Config
LOG_LEVEL=debug # trace, debug, info, warn, error
GO_ENV=development # development, production
